  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bkg-light: 60 100% 99.8%;
    --accent1-light: 230 57.8% 82.4%;
    --accent2-light: 351 60% 83.3%;
    
    --bkg-dark: 230 33.3% 20.6%;
    --accent1-dark: 230 47.8% 62.4%;
    --accent2-dark: 351 50% 63.3%;
  }

  :root {
    --bkg: var(--bkg-light);
    --accent1: var(--accent1-light);
    --accent2: var(--accent2-light);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bkg: var(--bkg-dark);
      --accent1: var(--accent1-dark);
      --accent2: var(--accent2-dark);
    }
  }


  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(var(--bkg));
    position: relative;
    z-index: 1;
  }

  .btn-container {
    transform: scale(8);
  }

  button {
    width: 24px;
    height: 24px;
    background-color: hsl(var(--bkg));
    cursor: pointer;
    border: none;
    border-radius: .25rem;
    position: relative;
    box-shadow: 2px 4px 5px hsl(var(--accent1)/.8), -2px -4px 6px hsl(var(--accent2)/.4);
    transition: background-color 400ms ease-in-out, box-shadow 400ms ease-in-out;
  }

  button:is(:hover, :focus){
    box-shadow: none;
  }

  button.checked {
    background-color: transparent;
    box-shadow: none;
  }

  button::after {
    content: '';
    position: absolute;
    background: linear-gradient(321deg, hsl(var(--accent1)), hsl(var(--accent2)) );
    inset: -3px;
    z-index: -1;
    border-radius: .4rem;
  }

  .checkmark {
    stroke: hsl(var(--bkg));
    stroke-dasharray: 19.79899024963379;
    stroke-dashoffset: 19.79899024963379;
  }

  .checked .checkmark {
    animation: check 350ms cubic-bezier(0.83, 0.05, 0.62, 1.0) forwards;
  }

  @keyframes check {
    to {
      stroke-dashoffset: 0;
    }
  }

  circle {
    fill: hsl( var(--accent1));
  }

  .alternate {
    fill: hsl( var(--accent2));
  }

  .explosion {
    transition: transform .3s cubic-bezier(0,.81,.56,1);
    position: absolute;
    inset: -.25rem;
    opacity: 0;
  }

  .checked .explosion-lg.exploding {
    animation: explodeLg .8s ease-in-out .1s;
  }

  .checked .explosion-sm.exploding  {
    animation: explodeSm .64s ease-out .2s;
  }

  @keyframes explodeSm {
      0% {
          opacity: 0;
          transform: scale(.01) rotate(-4deg)
      }

      30%,60% {
        opacity: .16;
      }

      60% {
        transform: scale(1.6) rotate(-10deg);
      }
      80% {
        opacity: 0;
      }
  }

  @keyframes explodeLg {
      0% {
          opacity: 0;
          transform: scale(.01) rotate(5deg);
      }

      20%,60% {
        opacity: 1;
      }

      40% {
        transform: scale(2) rotate(10deg);
      }

      80% {
        opacity: 0;
      }
  }